<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles/noDisturb.css" type="text/css">
    <title>noDisturb</title>
  </head>
  <body>
    <h1>DO NOT DISTURB</h1>
    <% if (!source) { %>
      <%- include('../../partials/updateScript'); %>
    <% } %>  </body>
</html>
