<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="private">
    <link rel="stylesheet" href="/public/styles/picture.css" type="text/css">
    <title><%= title %></title>
  </head>
  <body>
    <img src="" alt="">
    <% if (!source) { %>
      <%- include('../partials/updateScript'); %>
    <% } %>
  </body>
</html>
