<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8mb4">
    <link rel="stylesheet" href="/public/styles/text.css">
    <meta http-equiv="Cache-control" content="private">
    <title><%= title %></title>
    <% if (styling) { %>
      <style>
        <%= styling %>
      </style>
    <% } %>
  </head>
  <body>
    <h1><%= text %></h1>
    <% if (!source) { %>
      <%- include('../partials/updateScript'); %>
    <% } %>
  </body>
</html>
