html{
  width: calc(100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b8bbc1;
  color: #000000;
  font-family: sans-serif;
}

article.main > h1{
  text-decoration: underline;
  font-size: 2em;
  grid-area: header;
}

body{
  font-size: 1em;
  margin: 0;
  text-align: center;
  height: auto;
}
article.main{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto;
}
article.main > section{
  padding: 10px;
}
iframe{
  margin: 0;
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
}
section > h2{
  padding: 0;
  margin: 0;
}
