<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/styles/brb.css" type="text/css">
    <title>BRB</title>
  </head>
  <body>
    <h1>BRB</h1>
  </body>
</html>
