<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="private">
    <link rel="stylesheet" href="/public/styles/brb.css" type="text/css">
    <title>brb</title>
  </head>
  <body>
    <h1>BRB</h1>
    <h2>TEst</h2>
    <% if (!source) { %>
      <%- include('../partials/updateScript'); %>
    <% } %>  </body>
</html>
