<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="private">
    <link rel="stylesheet" href="/public/styles/comeIn.css" type="text/css">
    <title>comeIn</title>
  </head>
  <body>
    <h1>PLEASE COME IN</h1>
    <% if (!source) { %>
      <%- include('../partials/updateScript'); %>
    <% } %>  </body>
</html>
