<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="Cache-control" content="private">
    <link rel="stylesheet" href="/public/styles/noDisturb.css" type="text/css">
    <title>noDisturb</title>
  </head>
  <body>
    <h1>DO NOT DISTURB</h1>
    <% if (!source) { %>
      <%- include('../partials/updateScript'); %>
    <% } %>
  </body>
</html>
