<!doctype html>
<meta charset=utf-8>
<meta http-equiv="Cache-control" content="private">
<title>sw</title>
<link rel="stylesheet" href="/public/styles/sw.css" type="text/css">
<script type="text/javascript">
window.addEventListener("load", () => {

  // Normally, be quiet, but, if the URL has a fragment add the music.
  if (!!window.location.hash) {
    const audio = new Audio('http://goo.gl/WppRG9');
    window.logo.addEventListener( "animationstart", () => audio.play() );
  }

});
</script>
<% if (!source) { %>
  <%- include('../partials/updateScript'); %>
<% } %>
<img id="logo" src="/public/images/logo.svg">

<aside id="long">A long time ago, in a galaxy far, far away....</aside>

<article id="crawl">
  <header>
    <p>Episode IV</p>
    <h1>A NEW HOPE</h1>
  </header>
  <p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the <em>evil</em> Galactic Empire.</p>
  <p>During the battle, rebel spies managed to steal secret plans to the Empire's ultimate weapon, the <strong>Death Star</strong>, an armored space station with enough power to destroy an entire planet.</p>
  <p>Pursued by the Empire's sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy.</p>
</article>
